body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

#landing-page {
    background-image: url('cwbackground.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 50px;
}

.enter-text {
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

#name-input {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-input-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#player-name {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 1rem;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color: white;
    border: 1px solid white;
}

#submit-name {
    padding: 10px 20px;
    font-size: 1rem;
    font-family: 'Press Start 2P', cursive;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}

#game-canvas {
    background-color: black;
}
